* {
  margin: 0;
  padding: 0;
}

$green: seagreen;

.container {
  /* margin-left: 20px;
   max-width: 560px;*/
  .tabs_showcase {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;
  }
  .content {
    width: 100%;
    border: 1px solid $green;
    border-radius: 0 6px 6px 6px;
    padding: 1em;
    order: 5;
    p {
      text-indent: 20px;
      margin-bottom: 1em;
      &:first-letter {
        color: red;
        font-weight: 600;
      }
    }
    & :last-child {
      margin-bottom: 0;
    }
    form {
      display: flex;
      flex-flow: column nowrap;
      width: 70%;
      label {
        input {
          width: 70%;
          float: right;
        }
        textarea {
          width: 70%;
          height: 50px;
          float: right;
        }
      }
      input {
        align-self: center;
      }
    }
  }
  .hide {
    display: none;
  }

  .tab {
    margin-right: 2px;
    background-color: $green;
    color: white;
    border-radius: 6px 6px 0 0;
    width: 1/3.5*100%;
    .tab_desc {
      padding: 10px 20px;
    }
    &:hover {
      background-color: lighten($green, 20%);
      cursor: pointer;
    }
  }

  .tabs_showcase {
    & :nth-last-child(2) {
      margin-right: 0;
    }
  }

  .active {
    background-color: white;
    color: black;
    border: 1px solid $green;
    border-bottom: 0;
    position: relative;
    &:hover {
      background-color: white;
      cursor: default;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      background-color: white;
      //top: 38px;
      top: 100%;
      width: 100%;
      height: 2px;
    }
  }

  .column {
    .tabs_showcase {
      flex-flow: column wrap;
      height: 160px;
      & :nth-last-child(2) {
        margin-bottom: 0;
      }
      .content {
        p {
          margin-bottom: 1em;
        }
        & :last-child {
          margin-bottom: 0;
        }
      }
      .active {
        border: 1px solid $green;
        border-right: 0;
        &::after {
          content: '';
          display: block;
          position: absolute;
          background-color: white;
          top: 1px;
          right: -1px;
          width: 2px;
          height: 98%;
        }
      }
    }
    .tab {
      width: 120px;
      //border: 1px solid $green;
      border-radius: 6px 0 0 6px;
      margin-bottom: 2px;
      margin-right: -1px;
    }

  }

  @media screen and (max-width: 540px) {
    .content {
      width: 100%;
      border-radius: 0 0 6px 6px;
    }
    .tab {
      flex-grow: 1;
    }
    .tabs_showcase {
      margin-right: 20px;
    }
  }

  @media screen and (max-width: 331px) {
    .tabs_showcase {
      flex-flow: column nowrap;
    }
  }
}






